.img-src {
background-image:url('images/bg_versiyon_3.jpg');
position: fixed;
background-color: blueviolet;
background-position: center;
background-size: cover;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
}


.header {
display: flex;
justify-content: center;
align-items: center;
font-size: 5em;
margin-top: 0px;
}


.m-paragraph {
justify-content: center;
align-items: center;
text-align: center;
margin: auto;
width: 1300px;
}