#bg-image-container {
background-image:url('https://d262ilb51hltx0.cloudfront.net/fit/c/1600/1280/gradv/29/81/60/darken/25/0*I7mXgSon9oco-rim.jpeg');
background-color: blueviolet;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-position-y: center;
}


.img-src {
position: fixed;
background-position: center;
background-size: cover;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
}



.header {
display: flex;
justify-content: center;
align-items: center;
font-size: 5em;
}