#bg-image-container {
background-color: blueviolet;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-position-y: center;
}


.img-src {
background-image:url('https://wallpaper.dog/large/20353650.jpg');
position: fixed;
background-position: center;
background-size: cover;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
}



.header {
display: flex;
justify-content: center;
align-items: center;
font-size: 5em;
margin-top: 0px;
}